#container{
    background-color: rgb(103,114,122);
    margin: auto;
    max-width: 980px;
}
#header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgb(245,245,245);
}
#about{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 30px;
}
#me{
    width: 400px;
    background-color:rgb(195,215,223)
}
#about img{
    width: 400px;
    border: 10px solid rgb(245,245,245);
}
/* #about h2{
    align-self: flex-start;
} */
#websites{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
}
/* icons for programming lenguages resized */
.logo{
    width: 50px;
    height: 50px;
    padding: 8px;
}
.ux{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    
}
.section{
    display: flex;
    flex-direction: column;
    width: 300px;
    justify-content: baseline;
    background-color: rgb(195,215,223);
    padding-bottom: 20px;
}
.web{
    width: 300px;
}
button{
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 20px;
    padding: 8px;
    background: rgb(215,92,55);
    color: white;
    border-radius: 6px;
}
/* footer */
/* footer social media icons resized */
#footer{
    background-color: rgb(245,245,245);
    text-align: center;
}
#footer p{
    background-color: rgb(245,245,245);
}
#footer img{
    width: 25px;
}
h3{
    background-color: rgb(105,145,172);
    padding: 15px;
    color: white;
    margin: 0px;
}
/* end of footer */

p{
    font-size: 14px;
    background-color:rgb(195,215,223);
    margin-left: 5px;
}
ul{
    list-style-type: none;
}
li{
    display: inline-block;
}
li a{
    color: initial;
    text-decoration: none;
}